html {
    background-image: url("https://i.pinimg.com/originals/b8/42/73/b84273935ccb49148fa54da57d6234e4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    
}

#score {
    font-size: 22px;
    margin: 10% auto;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    
}

#timer {
    margin: 10% auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 22px;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}

#top-row{
    padding: 25px;
}

#main-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.774);
    /* background-repeat: no-repeat; */
    background-attachment: fixed cover;
    background-position: center;
    width: 80%;
    height: 70%;
    min-height: 300px;
    border-radius: 25px;
    padding: 20px;
    display: block;
    box-shadow: 0px 0px 10px rgb(133, 133, 133);
    margin: 0 auto;
}

#top-container {
    margin-top: 20px;
}

#questionText {
    text-align: center;
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.308);
    box-shadow: 0px 0px 10px black;
    letter-spacing: 8px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
    border: 1px solid rgb(104, 104, 104);
}

.buttons {
    width: 70%;
    height: 75%;
    margin: 0 auto 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    
    outline: none;
}

.buttons:hover {
    border: 2px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(216, 216, 216, 0.301);
    font-weight: bold;
    letter-spacing: 2px;
    transition: .4s;
    background-image: url("https://media3.giphy.com/media/xUOwGcu6wd0cXBj5n2/giphy.gif");
    background-position: center;
    
}

#buttonContainer {
    margin-top: 4%;
    height: 30%;
}

#startButton {
   
    width: 80%;
    height: 100%;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 2rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    margin: 4% auto 0 auto;
    outline: none;
    position: relative;
    top: 138%;
}

#startButton:hover {
    background-color: rgba(0, 0, 0, 0.514);
    letter-spacing: 15px;
    transition: 1.5s;
    color: white;
    text-shadow: 0px 0px 5px black;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/BzMIeML.gif?noredirect");
    background-position: center;
   
    
}

.hide {
    display: none !important;
}

@media screen and (max-width: 768px){
    #score {
        margin: 0;
    }

    #timer {
        margin: 0;
    }

    #main-div {
        height: 70%;
    }

    .buttons {
        height: 45px;
    }

    #questionText {
        line-height: 28px;
    }


}

footer {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0px;
    background-color: rgba(58, 58, 58, 0.39);
    text-align: center;
    color: rgba(255, 255, 255, 0.829);
    text-shadow: 0px 0px 10px black;
    font-size: 14px;
    letter-spacing: 4px;
    border-top: 1.5px solid white;
    background-image: url("https://i.imgur.com/BzMIeML.gif?noredirect");
    background-position: center;
    background-repeat: repeat-x;
}

